input{
    position: relative;
    padding: 10px 30px;
    margin: 43px 0 ;
    
    color: #2694b6;
  
    transition: 0.3s;
    width: 200px;
    height: 30px;
}

input::before{
   
    position:absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #B1B2FF;
    border-left: 2px solid #B1B2FF;
    transition: 0.3s;
    transition-delay: 0.3s;
}
 input:hover::before,input:hover::after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;

}

input:hover{
    background: #B1B2FF;
    color: #000;
    box-shadow: 0 0 30px #B1B2FF;;
    transition-delay: 0.3s;
}


button{
    position: relative;
    padding: 3px 20px;
    margin-left: 40px;
    
    color: #B1B2FF;
    text-transform: uppercase;
    transition: 0.3s;
    width: 150px;
   
    
}

button::before{
    content: " ";
    position:absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #B1B2FF;
    border-left: 2px solid #B1B2FF;
    transition: 0.3s;
    transition-delay: 0.3s;
}
 button:hover::before,button:hover::after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;

}

button:hover{
    background: #B1B2FF;
    color: #000;
    box-shadow: 0 0 30px #B1B2FF;;
    transition-delay: 0.3s;
}

label {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    margin-left: 10px;
}

.div_data{
    
    width: 100%;
    height: 100%;
    padding: 5px;
   border:2px solid rgb(32, 134, 202);
   margin-top: 20px;
}
#radio{
    left: 1100px;
margin-top: 0px;
    
    position:absolute;
    width: 30px;
    height: 30px;
}
#label_radio{
    display:inline;
    position:absolute;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    
  left: 900px;
}